@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root{
    --btn-color: rgb(114, 93, 77);
    --btn-hover-color: rgb(124, 103, 87);
    --background-color: #b9afa3;
    --footer-color: #b1a1a5;
    --output-bg-color: rgba(206, 206, 187, 0.856);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header > h1 {
    font-size: 48px;
    margin-bottom: 5px;
}

.header > p{
    font-size: 22px;
    margin: 5px;
}

.main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* align-items: stretch; */
    gap: 16px;
}

.buttons {
    display: flex;
    gap: 48px;
}

.btn {
    font-weight: 700;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: var(--btn-color);
    color: white;
}

.btn:hover{
    background-color: var(--btn-hover-color);
}

.output{
    margin-top: 40px;
    border: 2px solid black;
    padding: 5px 12px;
    min-width: 300px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    background-color: var(--output-bg-color);
}

.output-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hplayer, .hcomputer{
    flex: 1;
    text-align: center;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score > .player, .score > .computer {
    flex: 1;
    font-size: 128px;
    text-align: center;
    
}

.result {
    border: 2px solid black;
    padding: 5px 25px;
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-message {
    font-size: 22px;
    font-weight: bold;
}

.hide {
    display: none;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-color);
    /* margin: 0; */
    /* flex: 1 1 0%; */
    margin-top: auto;
}

footer > p {
    font-weight: 300;
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
}


